<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nyuyu.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Nyuyu"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/NyuyuTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".style.StyleListActivity" />
        <activity android:name=".onboarding.OnboardingActivity" />
        <activity android:name=".style.LikedStyleListActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="69e81093aa49890f933b1d27301a4dd5be8760ac" />

        <activity android:name=".style.StyleActivity"></activity>
    </application>

</manifest>